.container {
  display: flex;
  width: 100%;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tab {
  font-size: 18px;
  outline: none;
  justify-content: space-between;
  background: transparent;
  border: none;
  border: 2px solid #666;
  border-bottom: none;
  cursor: pointer;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px 25px;
  /* box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15); */
}

.tab:first-child {
  margin-right: 10px;
}

.active {
  color: black;
  border-color: black;
}

:global(.darkTheme) .active {
  color: var(--dark-color);
  border-color: var(--dark-color);
}

/* :global(.darkTheme) .tab {
  color: var(--dark-color);
  border-color: var(--dark-color);
} */
